.content
  .show{ 'data-page': 'role' }
    %aside
      %h1#js-role-name
        = @role.primary_role
        = image_tag riot_role_link @role.primary_role
      %ul
        %li{ 'data-toggle': 'tooltip', title: t('champions.tooltips.games_played') }
          = number_with_delimiter @role.total_picks
          = fa_icon('gamepad')
      %ul
        %li{ 'data-toggle': 'tooltip', title: t('champions.tooltips.win_rate') }
          = round_rate(@role.win_rate)
          = fa_icon('trophy')
      %ul
        %li{ 'data-toggle': 'tooltip', title: t('champions.tooltips.pick_rate') }
          = round_rate(@role.pick_rate)
          = fa_icon('users')
    %main
      %h1= t('champions.show.chart_title')
      .charts
        %canvas
