.header
  %h1= t('.title')
.content
  %main.misc
    .copyright
      = "#{t('.page_title')}"
      isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of
      Riot Games or anyone officially involved in producing or managing League of
      Legends. League of Legends and Riot Games are trademarks or registered
      trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
    %br
    .source
      Source code can be found on
      = link_to 'Github', 'https://github.com/oniofchaos/riot_urf_trending'
    .technologies
      %h2= 'Technologies used'
      %ul
        %li= link_to 'Bootstrap', 'http://getbootstrap.com/'
        %li= link_to 'ChartJS', 'http://chartjs.org'
        %li= link_to 'FontAwesome', 'http://fortawesome.github.io/Font-Awesome/'
        %li= link_to 'Icon Archive (hand icon)', 'http://www.iconarchive.com/show/ios7-icons-by-icons8/Hands-Hand-icon.html'
        %li= link_to 'Icon8 (hand icon)', 'http://icons8.com/'
        %li= link_to 'Haml', 'http://haml.info/'
        %li= link_to 'Heroku', 'http://heroku.com'
        %li= link_to 'Memcached', 'http://memcached.org/'
        %li= link_to 'NewRelic', 'http://newrelic.com'
        %li= link_to 'PaperTrail', 'https://papertrailapp.com'
        %li= link_to 'PostgreSQL', 'http://www.postgresql.org/'
        %li= link_to 'Sass', 'http://sass-lang.com/'
