.header
  %h1= t('.title')
%main.about.content
  .copyright
    = "#{t('.page_title')}"
    isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of
    Riot Games or anyone officially involved in producing or managing League of
    Legends. League of Legends and Riot Games are trademarks or registered
    trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
  .technologies
    %h2= 'Technologies used'
    %ul
      %li= link_to 'Bootstrap', 'http://getbootstrap.com/'
      %li= link_to 'ChartJS', 'chartjs.org'
      %li= link_to 'FontAwesome', 'http://fortawesome.github.io/Font-Awesome/'
      %li= link_to 'Haml', 'http://haml.info/'
      %li= link_to 'Heroku', 'heroku.com'
      %li= link_to 'Memcached', 'http://memcached.org/'
      %li= link_to 'NewRelic', 'newrelic.com'
      %li= link_to 'PaperTrail', 'https://papertrailapp.com'
      %li= link_to 'PostgreSQL', 'http://www.postgresql.org/'
      %li= link_to 'Sass', 'http://sass-lang.com/'
