.header
  %h1= t('.title')
.stats-bg
  .statsbox
    %table.stats_table
      %tr
        %td
          .well
            %span#totalMatches.odometer
            %small
              %p= t('.matches_sampled')
        %td
          .well
            %span#totalKills.odometer
            %small
              %p= t('.total_kills')
        %td
          .well
            %span#totalDeaths.odometer
            %small
              %p= t('.total_deaths')
.teemo-bg
  .well
    %span#teemoKills.odometer
    %small= t('.teemo_corpses')
