%main.index
  %table.center
    - index = 0
    - @champions.each_slice(3) do |slice|
      %tr
        - slice.each do |champion|
          - index += 1
          %td
            %a{ href: champion_path(name: champion.name) }
              = image_tag riot_image_link champion.name
              .stats
                - win_rate = round_rate(champion.win_rate)
                - pick_rate = round_rate(champion.pick_rate)
                - average_win_rate = normalize_average_rate(win_rate,  @average_win_rate)
                - average_pick_rate = normalize_average_rate(pick_rate, @average_pick_rate)
                %dl
                  %dd= "#{"%.2f" % win_rate}%"
                  %dt= t('.win_rate')
                  %dd{ class: rate_class(average_win_rate) }= "#{average_win_rate.abs}%"
                  %dt= "#{ average_win_rate < 0 ? "below" : 'above'} average"
                %dl
                  %dd= "#{"%.2f" % pick_rate}%"
                  %dt.pick-rate= t('.pick_rate')
                  %dd{ class: rate_class(average_pick_rate) }= "#{average_pick_rate.abs}%"
                  %dt= "#{ average_pick_rate < 0 ? "below" : 'above'} average"
                %canvas.js-win-rate{ data: { "win-rate" => win_rate  } }
              .name
                %h1
                  = champion.name
              .rank= index
