%main.index
  %table.center
    - index = 0
    - @champions.each_slice(3) do |slice|
      %tr
        - slice.each do |champion|
          - index += 1
          %td
            %a{ href: champion_path(name: champion.name) }
              = image_tag riot_image_link champion.name
              .stats
                = render 'champion_stats',
                  champion: champion,
                  average_win_rate: @average_win_rate,
                  average_pick_rate: @average_pick_rate
                -# %h3
                -#   &nbsp
                -#   = "Picked #{champion.total_picks} times"
              .name
                %h1
                  = champion.name
              .rank= index
