- win_rate = round_rate(champion.win_rate)
- pick_rate = round_rate(champion.pick_rate)
- average_win_rate = normalize_average_rate(win_rate,  average_win_rate)
- average_pick_rate = normalize_average_rate(pick_rate, average_pick_rate)
- show_link_helper ||= false
- if show_link_helper
  .profile_link{ 'data-toggle': 'tooltip', title: t('champions.tooltips.more_info') }
    = fa_icon 'line-chart'
%ul
  %li{ 'data-toggle': 'tooltip', title: t('champions.tooltips.games_played') }
    = number_with_delimiter champion.total_picks
    = fa_icon('gamepad')
%ul
  %li{ 'data-toggle': 'tooltip', title: t('champions.tooltips.win_rate') }
    = "#{"%.2f" % win_rate}% "
    = fa_icon('trophy')
  %li{ class: rate_class(average_win_rate), 'data-toggle': 'tooltip', title: rate_tooltip(average_win_rate) }
    = "#{average_win_rate.abs}% "
    = fa_icon(rate_glyph_class(average_win_rate))
%ul
  %li{ 'data-toggle': 'tooltip', title: t('champions.tooltips.pick_rate') }
    = "#{"%.2f" % pick_rate}%"
    = fa_icon('users')
  %li{ class: rate_class(average_pick_rate), 'data-toggle': 'tooltip', title: rate_tooltip(average_pick_rate) }
    = "#{average_pick_rate.abs}% "
    = fa_icon(rate_glyph_class(average_pick_rate))
