.content
  %main.index
    %table
      - @champions.each_slice(5) do |slice|
        %tr
          - slice.each_with_index do |champion, index| 
            %td 
              = image_tag riot_image_link champion.name
              %dl.inline
                %dt= "#{index+1}: " 
                %dd= champion.name
                %dt= "Win rate: "
                %dd= (champion.win_rate * 100).round(2)
                %dt= "Pick rate: "
                %dd= (champion.pick_rate * 100).round(2)
