.content.js-champions-index
  %main.index
    %table.center
      - index = 0
      - @champions.each_slice(3) do |slice|
        %tr
          - slice.each do |champion|
            - index += 1
            %td
              %a{ href: champions_search_path(name: champion.name) }
                = image_tag riot_image_link champion.name
                .stats
                  - win_rate = (champion.win_rate).round(2)
                  - pick_rate = (champion.pick_rate).round(2)
                  %dl
                    %dd= "#{win_rate}%"
                    %dt
                      wins
                    %dd= "#{pick_rate}%"
                    %dt
                      picks
                  %canvas.js-win-rate{ data: { "win-rate" => win_rate  } }
                  %canvas.js-pick-rate{ data: { "pick-rate" => pick_rate  } }
                .name
                  %h1
                    = champion.name
                .rank= index
