.header
  %h1= t('.title')
.content
  %main.index.role-index
    %table.center
      - index = 0
      - @roles.each_slice(3) do |slice|
        %tr
          - slice.each do |role|
            - index += 1
            %td
              = image_tag 'http://ddragon.leagueoflegends.com/cdn/5.7.1/img/profileicon/657.png'
              .stats
                %ul
                  %li
                    = round_rate(role.win_rate)
                  %li
                    = round_rate(role.pick_rate)
              .name
                %h1= role.primary_role
              .rank= index
