.bg-fix
  .bg-blur
    = image_tag riot_splash_link @champion.name
.content
  .show
    %aside
      %h1#js-champion-name
        = @champion.name
        = image_tag riot_image_link @champion.name
      %ul
        - win_rate = round_rate(@champion.win_rate)
        - pick_rate = round_rate(@champion.pick_rate)
        - average_win_rate = normalize_average_rate(win_rate,  @average_win_rate)
        - average_pick_rate = normalize_average_rate(pick_rate, @average_pick_rate)
        %li= "Win rate: #{"%.2f" % win_rate}"
        %li
          = "Average win rate: "
          %span{ class: rate_class(average_win_rate) }
            = "#{average_win_rate.abs}% "
          %span= "#{ average_win_rate < 0 ? "below" : 'above'} average"
        %li= "Pick rate: #{"%.2f" % pick_rate}"
        %li
          = "Average pick rate: "
          %span{ class: rate_class(average_pick_rate) }
            = "#{average_pick_rate.abs}% "
          %span= "#{ average_pick_rate < 0 ? "below" : 'above'} average"
    %main
      %h1 URF Progression
      .charts
        %canvas
