= cache("view_champion_show_#{@champion.name}_#{cachebuster}") do
  .bg-fix
    .bg-blur
      = image_tag riot_splash_link @champion.name
  .content
    .show{ 'data-page': 'champion' }
      %aside
        %h1#js-champion-name
          = @champion.name
          = image_tag riot_image_link(@champion.name), class: 'profile'
        = render 'champion_stats',
          champion: @champion,
          average_win_rate: @average_win_rate,
          average_pick_rate: @average_pick_rate
        - kills = round_rate(@champion.per_game_kills)
        - deaths = round_rate(@champion.per_game_deaths)
        - assists = round_rate(@champion.per_game_assists)
        - average_kills = normalize_average_rate(kills, @champion.average_kills)
        - average_deaths = normalize_average_rate(deaths, @champion.average_deaths)
        - average_assists = normalize_average_rate(assists, @champion.average_assists)
        %h2 Average K/D/A
        %ul
          - [[kills, average_kills, 'kills'],
            [deaths, average_deaths, 'deaths',],
            [assists, average_assists, 'assists']].each do |(k, avg, key)|
            = tooltip_helper(title: t("champions.tooltips.#{key}")) do
              = "#{k}"
              %span{ class: key }
                = kda_image(key)
            = tooltip_helper(title: rate_tooltip(avg), class_name: rate_class(avg)) do
              = "#{avg.abs}% "
              = fa_icon(rate_glyph_class(avg))
      %main
        %h1= t('.chart_title')
        .charts
          %canvas
