.bg-fix
  .bg-blur
    = image_tag riot_splash_link @champion.name
.content
  .show{ 'data-page': 'champion' }
    %aside
      %h1#js-champion-name
        = @champion.name
        = image_tag riot_image_link(@champion.name), class: 'profile'
      = render 'champion_stats',
        champion: @champion,
        average_win_rate: @average_win_rate,
        average_pick_rate: @average_pick_rate
      - kills = round_rate(@champion.per_game_kills)
      - deaths = round_rate(@champion.per_game_deaths)
      - assists = round_rate(@champion.per_game_assists)
      - average_kills = normalize_average_rate(kills, @champion.average_kills)
      - average_deaths = normalize_average_rate(deaths, @champion.average_deaths)
      - average_assists = normalize_average_rate(assists, @champion.average_assists)
      %ul
        - [[kills, average_kills, 'kills'],
          [deaths, average_deaths, 'deaths',],
          [assists, average_assists, 'assists']].each do |(k, avg, key)|
          - if key == 'kills'
            %li{ 'data-toggle': 'tooltip', title: 'Average kills' }
              = "#{k}"
              %span.kills
                = image_tag 'http://ddragon.leagueoflegends.com/cdn/5.2.1/img/ui/score.png'
          - elsif key == 'deaths'
            %li{ 'data-toggle': 'tooltip', title: 'Average deaths' }
              = "#{k}"
              %span.skull
                &#9760;
          - else
            %li{ 'data-toggle': 'tooltip', title: 'Average assists' }
              = "#{k}"
              %span.assists
                = image_tag 'assist.svg'
          %li{ class: rate_class(avg), 'data-toggle': 'tooltip', title: rate_tooltip(avg) }
            = "#{avg.abs}% "
            = fa_icon(rate_glyph_class(avg))
    %main
      %h1= t('.chart_title')
      .charts
        %canvas
