= cache("view_champion_show_#{@champion.name}_#{cachebuster}") do
  .bg-fix
    .bg-blur
      = image_tag riot_splash_link @champion.name
  .content
    .show{ 'data-page': 'champion' }
      %aside
        %h1#js-champion-name
          = @champion.name
          = image_tag riot_image_link(@champion.name), class: 'profile'
        - win_rate = round_rate(@champion.win_rate)
        - pick_rate = round_rate(@champion.pick_rate)
        - average_win_rate = normalize_average_rate(win_rate,  @average_win_rate)
        - average_pick_rate = normalize_average_rate(pick_rate, @average_pick_rate)
        %ul
          = tooltip_helper(title: t('champions.tooltips.games_played')) do
            = number_with_delimiter @champion.total_picks
            = fa_icon('gamepad')
          = tooltip_helper(title: t('champions.tooltips.bans')) do
            = number_with_delimiter @bans.empty? ? 0 : @bans[@champion.champion_id - 1].total_bans
            = fa_icon('ban')
        %ul
          = tooltip_helper(title: t('champions.tooltips.win_rate')) do
            = "#{"%.2f" % win_rate}% "
            = fa_icon('trophy')
          = tooltip_helper(title: rate_tooltip(average_win_rate), class_name: rate_class(average_win_rate)) do
            = "#{average_win_rate.abs}% "
            = fa_icon(rate_glyph_class(average_win_rate))
        %ul
          = tooltip_helper(title: t('champions.tooltips.pick_rate')) do
            = "#{"%.2f" % pick_rate}%"
            - if pick_rate < 10.0
              = fa_icon('users', class: 'extra-padding')
            - else
              = fa_icon('users')
          = tooltip_helper(title: rate_tooltip(average_pick_rate), class_name: rate_class(average_pick_rate)) do
            = "#{average_pick_rate.abs}% "
            = fa_icon(rate_glyph_class(average_pick_rate))

        - kills = round_rate(@champion.per_game_kills)
        - deaths = round_rate(@champion.per_game_deaths)
        - assists = round_rate(@champion.per_game_assists)
        - average_kills = normalize_average_rate(kills, @champion.average_kills)
        - average_deaths = normalize_average_rate(deaths, @champion.average_deaths)
        - average_assists = normalize_average_rate(assists, @champion.average_assists)
        %h2 Average K/D/A
        %ul
          - [[kills, average_kills, 'kills'],
            [deaths, average_deaths, 'deaths',],
            [assists, average_assists, 'assists']].each do |(k, avg, key)|
            = tooltip_helper(title: t("champions.tooltips.#{key}")) do
              = "#{k}"
              %span{ class: key }
                = kda_image(key)
            = tooltip_helper(title: rate_tooltip(avg), class_name: rate_class(avg)) do
              = "#{avg.abs}% "
              = fa_icon(rate_glyph_class(avg))
      %main
        %h1= t('.chart_title')
        .charts
          %canvas
