.bg-fix
  .bg-blur
    = image_tag riot_splash_link @champion.name
.content
  .show
    %aside
      %h1#js-champion-name
        = @champion.name
        = image_tag riot_image_link @champion.name
      = render 'champion_stats',
        champion: @champion,
        average_win_rate: @average_win_rate,
        average_pick_rate: @average_pick_rate
    %main
      %h1= t('.chart_title')
      .charts
        %canvas
