!!! 5
%html
  %head
    %title= t('.title')
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %header
  %nav.navbar.navbar-inverse
    .container-fluid
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav
          %li{ class: current_page?(root_path) ? 'active' : '' }
            %a{ href: root_path }
              = t('.home')
              %span.sr-only
                (current)
          %li{ class: current_page?(champions_path) ? 'active' : '' }
            = link_to t('.champions_index'), champions_path
          %li{ class: current_page?(champions_roles_path) ? 'active' : '' }
            = link_to t('.roles_index'), champions_roles_path
        = form_tag champions_search_path, method: :get, enforce_utf8: false, class:'navbar-form navbar-left' do
          = text_field_tag :name, nil, placeholder: 'Search by champion', class: 'form-control'
          %button.btn.btn-default{ type: 'submit' }= t('.search')
        %ul.nav.navbar-nav.navbar-right
          %li{ class: current_page?(about_path) ? 'active' : '' }
            = link_to 'About', about_path
  %body
    = yield
